<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart Detail</title>

</head>
<body>
    <h1>Cart Detail</h1>
    {% if cart_items %}
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
            <tr>
                <td>{{ item.product.producttitle }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.total_price }}</td>
            </tr>
            {% endfor %}


        </tbody>
    </table>


    {% else %}
    <p>Your cart is empty.</p>
    {% endif %}
</body>
</html>
